@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to top, #470707 , #ba4758);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}


header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: var( --bggradient);
  padding-top: 60px;
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}
.navbar {
  background: linear-gradient(to bottom, #470707a1 , #cf0322a9);
  text-transform: uppercase;
  font-family: var(--Patua);
  box-shadow: 0px 1px 5px  #cf0322a9;
  height: 55px;
  opacity: 0.7;
 
}


.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}
.Profile p{
  text-transform: uppercase;
  
}
.img-profile{
  opacity: 0.9;
  border: 2px solid #FFFF;
}



/********** section 1 **************/

.section-1 {
  padding: 20vmin 0vmin;
  height: 130vh;
  overflow: hidden;
  display: flex;
  
}
.section-1 .row .col-md-6 .pray img {
  opacity: 1;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}


/********** section 2 **************/

.cover {
  width: 100%;
  height: 55vmin;
  background: url("./img/skill.jpg");
  background-position: -24rem -19rem;
  background-size: 150%;
  position: relative;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}


.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 19vmin;
}

.cover .content > h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: whitesmoke;
  letter-spacing: 5px;
}

.cover .content > p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: #e5e5e5;
}

.numbers .skill {
  position: relative;
  z-index: 1;
  background: white;
  width: 16rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .skill h1 {
  font-size: 5rem;
  color: tomato;
}

.numbers .skill > p {
  font-family: var(--Patua);
}

.portfolio > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Patua);
  margin-bottom: 1rem;
 
}
.text-area > h1 ,
.text-area-form > h1 {
  color: #4d4c4c;
  font-family: var(--Patua);
  padding-bottom: 6px;
  letter-spacing: 1px;
  margin-top: 100px;
}

.text-area > p ,.text-area-form > p {
  color: #4d4c4c;
  font-family: var(--Patua);
  letter-spacing: 1px;
  margin-bottom: 0 !important;
}


.portfolio h2{
   color: #5a5a5a;
   font-family: var(--Patua);
   padding-bottom: 15px;
   letter-spacing: 1px;

}
.portfolio span:before{
  content: "";
  background-color: #424141;
  color: #424141;
  border-bottom: 1px solid #424141;
  width: 203px;
  height: 1px;
  transform: translate(-102px, -8px);
  position: absolute;
  opacity: 0.2;

}
  .btn-prot{
  font-family: var(--Patua);
  border: 1px solid #393630;
  border-radius: 4px;
  font-size: 18px;
  padding: 10px 25px;
  letter-spacing: 1px;
  box-shadow: 0 0 5px #393630,
              0 0 7px #39363046;
}
.btn-prot:hover{
  border: 1px solid #58544b;
  box-shadow: inset 0 0 5px #393630;
}
.img-opality{
  opacity: 0.9;
}
.img-scal:hover{
  transform: scale(1.2);
  opacity: 1;
}



footer {
  background: #474746;
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}



footer .column i + i {
  padding: 0 0.5em;
}


  @media only screen and (max-width: 768px) {
    header .navbar-brand {
      padding-left: 1rem;
    }
    .navbar-collapse {
      background: linear-gradient(to bottom, #470707 , #ba4758);
      border-radius: 5px;
      margin-top: 8px;
      text-align: center;

    }
    .navbar-nav li{
      border-bottom: 1px solid #FFFF;
      opacity: 0.8;
    }
    .section-1 .row .col-md-6 .panel {
      position: relative;
      width: initial;
      height: initial;
      left: -4px;
      top: -153px;
    }

    .section-2 .cover {
      background-position: -25vmin -10vmin;
    }
    .numbers .skill {
      width: 10rem;
      height: 8rem;
    }
    .numbers .skill h1 {
      font-size: 2rem;
    }
  
    footer .row .col-md-2 {
      margin-top: 8vmin;
    }
  }
